*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #161a1d;
}

header{
   background-color: black;
}

.header-bar{
    width: 80%;
    height: 50px;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
}

header h1{
    font-family: 'Cookie', cursive;
    color: #2a9d8f;
}

.container{
    max-width: 400px;
    min-height: 500px;
    background: black;
    margin: auto;
    margin-top: 3em;
    border: 1px solid rgba(129, 126, 126, 0.226);
    box-shadow: 10px 10px 15px limegreen;
    border-radius: 20px;
    padding: 40px;
    transition: all 1s;
}
.container:hover{
    box-shadow: 10px 10px 15px lime,-10px -10px 15px cyan;
    border: none;
}

.container h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: limegreen;
    text-shadow: 3px 4px 10px green;
}
.container p{
    margin-top: 20px;
    text-align: center;
    color: limegreen;
}

.container p a{
    text-decoration: none;
    color: cyan;
    transition: all 1s;
}

.survey-link:hover a{
    color: red;
}

footer{
    margin-top: 4em;
    width: 100%;
    height: 35vh;
    background-color: black;
    color: lime;
}

footer h2{
    color: #06d6a0;
    font-family: sans-serif, Arial, Helvetica;
    text-align: center;
    padding-top: 3em;
    font-size: 20px;
    font-variant: small-caps;
}

.social-media{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.social-media span a{
    text-decoration: none;
    color: black;
}

.social-media span img{
    transition: all 0.3s ease-out;
}

.social-media span:hover img{
    transform: scale(1.2);
}

footer .copyright{
    color: white;
    font-variant: none;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
}